[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
nose = "*"
pyyaml = ">=6.0"
requests-oauthlib = ">=1.2.0"

[packages]
requests = ">=2.8.1"
six = ">=1.10.0"
