name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: cache poetry install
        uses: actions/cache@v4
        with:
          path: ~/.local
          key: poetry-1.4.2-0
      - name: setup poetry
        uses: snok/install-poetry@v1
        with:
          poetry-version: 1.4.2
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: cache deps
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: .venv
          key: pydeps-${{ hashFiles('**/poetry.lock') }}
      - name: build and publish pypi
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          poetry config pypi-token.pypi $PYPI_TOKEN
          poetry version ${{ github.ref_name }}
          poetry publish --build
          poetry install --no-interaction --no-root --with dev,docs --extras "asyncio"
      - name: update version
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automatic version bump
          branch: main
          file_pattern: pyproject.toml
      - name: make sbom
        uses: anchore/sbom-action@v0
        with:
          file: poetry.lock
          format: cyclonedx-json
          output-file: "${{ github.event.repository.name }}-sbom.json"
      - name: build docs
        run: |
          mkdir gh-pages
          touch gh-pages/.nojekyll
          cd docs
          poetry install --no-interaction --with dev,docs --extras "asyncio"
          poetry run make clean html
          cp -r _build/html/* ../gh-pages/
      - name: publish docs
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: gh-pages
